#container {
    background-color: rgb(103, 165, 206);
    padding: 25px;
    width: 80vw;
    height: 80vh;
    /* height: 80vh; */
    
    

    display: flex;
    /* flex-direction: row; */
    /* align-items: stretch; */
    /* flex-direction:column;
    flex-wrap: wrap-reverse; */
    /* align-content: center;
    flex-wrap: wrap;
    justify-content: center; */
    
}

.item {
    background-color: rgb(201, 70, 70);
    margin-top: 5px;
    padding: 20px 10px 20px 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    /* flex-grow: 1; */
}
/* 
.item:nth-child(3){
    flex-grow: 0;
    flex-shrink: 2;
    flex-basis: 120px;
    background-color: rgb(17, 7, 112);
    order: 1;
} */


.item:nth-child(even) {
    background-color: springgreen;
    align-self: center;
}

.item:nth-child(odd) {
    background-color: bisque;
    align-self: flex-start;
}