body{
    margin: 0px;
}

#header {
    background-color: teal;
    padding: 24px;
    grid-area: header;
}

#sidebar {
    background-color: tomato;
    padding: 24px;
    grid-area: sidebar;
}



#main {
    background-color: rgb(36, 73, 114);
    height: 400px;
    padding: 24px;
    grid-area: main;
}

#aside {
    background-color: rgb(63, 31, 70);
    padding: 24px;
    grid-area: aside;
}

#footer {
    padding: 24px;
    background-color: rgb(116, 48, 57);
    grid-area: footer;
    
}

#g-con {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'sidebar main main main main aside'
    'footer footer footer footer footer footer'
}


@media (max-width:900px) {
    #g-con {
        display: grid;
        grid-template-areas:
        'header header header header header header'
        'sidebar main main main main main'
        'aside aside aside aside aside aside'
        'footer footer footer footer footer footer'
    }
}

@media (max-width:900px) {
    #g-con {
        display: grid;
        grid-template-areas:
        'header header header header header header'
        'sidebar sidebar sidebar sidebar sidebar sidebar'
        'main main main main main main'
        'aside aside aside aside aside aside'
        'footer footer footer footer footer footer'
    }
}