body {
    margin: 0px;
    /* background-color: rgb(34, 30, 46); */
    background:radial-gradient(circle closest-corner,rgb(21, 21, 39),rgb(14, 14, 54));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.art-pic {
    margin-top: 30px;
    height: 25%;
    width: 25%;
    float: right;
    margin-right: 16px;
    margin-left: 16px;
    border-style: none;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgb(6, 9, 26);
    
}

#top-bar {
    background-color: rgb(28, 22, 58);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    padding-right: 40px;
    box-shadow: 2px 2px 20px rgb(2, 5, 26);
    
}

.nav-link {
    text-decoration: none;
    color: white;
}

main {
    padding-top: 70px;
    padding-bottom: 210px;
    margin-top: 0px;
    /* margin-left: 190px;
    margin-right: 190px; */
    /* background-color: rgb(51, 102, 102);
    box-sizing: border-box; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
    
}

#logo {
    padding-right: 7px;
    color: white;
    font-weight: 1000;
    font-size: 30px;
}

#logo-end {
    margin-left: 0px;
    padding-left: 0px;
    color: white;
    font-weight: 900;
}

.menu-item {
    color: white;
    font-weight: 700;
    padding-right: 20px;
    position: relative;
    float: right;
    right: 50px;
    top:10px;
    cursor: pointer;
}

#op-item {
    outline: none;
    background-color: rgb(28, 22, 58);
    border-style: none;
    color: white;
    font-weight: 700;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: -2px;
    cursor: pointer;
    
}

.op-list::selection {
    background-color: rgb(28, 22, 58);
    color: green;
}


article,form {
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 40px;
    color: white;
    background-color: rgb(22, 15, 49);
    padding-top: 30px;
    padding-bottom: 60px;
    border-style: none;
    border-radius: 10px;
    box-shadow: 2px 5px 20px rgb(2, 2, 20);
    
}

.art-head{
    font-size: 30px;
    font-weight: 900;
}

article p {
    font-size: 120%;
}

.form-wrapper {
    text-align: center;
}

.ip-items {
    font-size: 17px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    margin-top: 15px;
    padding-bottom: 10px;
    border-style: none;
    border-radius: 4px;
    outline: none;
    box-shadow: 2px 2px 10px rgb(2, 1, 17);
    
}

.ip-items:focus {
    /* background-color: rgb(169, 212, 199); */
    border-style: solid;
    border-color: rgb(76, 146, 119);
    border-width: 2px;
}

.ip-items:disabled {
    cursor: not-allowed;
    background-color: rgb(130, 130, 161);
}

.ip-items:focus:required {
    background-color: rgb(198, 148, 231);
}


#rg-btn {
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    color: white;
    background-color: rgba(72, 72, 117, 0.616);
    border-style: none;
    border-radius: 2px;
    font-size: 18px;
    box-shadow: 2px 2px 10px rgb(2, 2, 22);
}

#rg-btn:hover {
    cursor:pointer;
    background-color: rgba(31, 31, 56, 0.616);
}


/* 
direct child
article > p {
    background-color: lightcoral;
} */

article > p::first-letter {
    font-size: 30px;
    font-weight: 900;
}

article > p::selection{
    background-color: rgb(77, 150, 77);
}


section {
    display: inline-block;
    width: 70%;
    margin-right: 24px;
}

aside {
    margin-top: 27px;
    display: inline-block;
    width: 25%;
    color: white;
    vertical-align: top;
}

.as-col {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    border-style: none;
    box-shadow: 3px 5px 10px black;
    border-radius: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}

.as-col > img {
    padding-top: 30px;
    width: 70%;
    height: 70%;
}

@media screen and (max-width:768px) {
    section{
        display: block;
        width: 100%;
    }

    aside {
        display: block;
        width: 100%;
    }

   
    
    #logo-c {
        display: block;
        text-align: center;
        margin-left: -50px;
    }

    .menu-item{
        position: relative;
        left: -130px;
    }
}


.form-wrapper p {
    color: red;
    margin-top: 2px;
    margin-bottom: -10px;
    transform: translateX(-40px);
    display: none;
}

/* .hide {
    display: none;
}

.show {
    display: block;
} */

